html {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

@media (max-width: 575.98px) {
    .main {
        padding: 20px 20px;
    }

    .kiri {
        padding: 10px 30px;
        background-color: #ebecee;
    }
}

ul.nav li a,
ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover,
ul.nav li a:active {
    color: white !important;
    font-weight: bolder !important;
}

ul.nav li.active a {
    color: white !important;
}

.img-card {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 16px 2px rgba(234, 43, 43, 0.5);
    box-shadow: 0px 0px 16px 2px rgba(234, 43, 43, 0.5);
}
.prev {
    border-radius: 20px;
}

.row {
    display: flex;

}

.title {
    margin-top: 20px;
}

table {
    margin: 20px 120px;
}

.content {
    margin: 85px;
}


.table td,
tr {
    text-align: center;
}

.title {
    margin-top: 20px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.row {
    display: flex;

}



.kiri {
    background-color: #ffffff;
}

.kanan {
    background-color: #ffffff;
    padding: 120px 120px;
}

.col-md-6 {
    margin: 20px;
}

.main {
    background-color: #ffffff;
    padding: 20px 120px;
}

iframe {
    width: 100%;
    height: 350px;
}